<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body class="page">

		{% include header.html %}

		<main role="main">
			{{ content }}
		</main><!-- main -->

		{% include footer.html %}

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>		
		<script src="/js/plugins.js"></script>
		<script src="/js/beetle.js"></script>
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</body>

</html>
